<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.officework.intune">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:fullBackupContent="true"
        android:backupAgent="com.microsoft.intune.mam.client.app.backup.MAMDefaultBackupAgent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.officework.intune.MamDemoApplication">
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.microsoft.aad.adal.AuthenticationActivity"
            android:label="@string/app_loading" >
        </activity>

        <meta-data
            android:name="com.microsoft.intune.mam.aad.Authority"
            android:value="https://login.microsoftonline.com/common/" />
        <meta-data
            android:name="com.microsoft.intune.mam.aad.ClientID"
            android:value="fe9bd4a1-78a9-4f3c-959a-c3dac1b9a68f" />
        <meta-data
            android:name="com.microsoft.intune.mam.aad.NonBrokerRedirectURI"
            android:value="msauth://com.officework.intune/IQNMWJx4MXNcrxyIDmRvBXCo2eA%3D" />

        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Add in your scheme/host from registered redirect URI -->
                <data
                    android:host="com.officework.intune"
                    android:path="/IQNMWJx4MXNcrxyIDmRvBXCo2eA="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>

    </application>

</manifest>